# Add any directories, files, or patterns you don't want to be tracked by version control

# Windows and OSX Specific System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
*.swp
ehthumbs.db
Thumbs.db
Icon\?
